.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #555; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-dialog-1 .ui-widget-header {
    color: #669fc7 !important;
}