<div>This plugin augments the default <strong><a href="https://live.sosinventory.com/ReportV2/ExpandedBOM" target="_blank">SOS&nbsp;Inventory&nbsp;Expanded&nbsp;BOM&nbsp;Report</a></strong> with graphical visualization tools to help plan production batches.</div>
<br/><br/>
<div style="margin-left: auto; margin-right: auto; width: 128px;"><a href="https://live.sosinventory.com/ReportV2/ExpandedBOM" target="_blank"><img src="icon128.png"></a></div>