/* For wrapping table column headers, as shown here: http://tabulator.info/docs/3.3#layout */ 
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal !important;
}

.ui-widget-header {
  color: #fcfdfd !important;
}

.warningText {
  color: orangered;
  font-size: 14px;
  line-height: 24px;
}

.dot-grey {
  height: 19.5px;
  width: 19.5px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  vertical-align:middle;
  border-color: #202020;
}

.dot-white {
  height: 19.5px;
  width: 19.5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  vertical-align:middle;
  border-color: #202020;
}

.dot-red {
  height: 19.5px;
  width: 19.5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  vertical-align:middle;
}

.dot-green {
  height: 19.5px;
  width: 19.5px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  vertical-align:middle;
}

.dot-yellow {
  height: 19.5px;
  width: 19.5px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  vertical-align:middle;
}