.wrapper {
  margin: 15px auto;
  width: 100%;
  font-family: sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 24px;
}
.wrapper ul {
  margin: 0px;
  list-style-type: none;
}
.tabs li {
  float: left;
  width: 20%;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 6px 0;
  border-bottom: 2px solid #888;
  background: #f7f7f7;
}
.tabs a:hover,
.tabs a.active {
  background: #ddd;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}