.tree-nodes .node {
cursor: pointer;
}

.tree-nodes .overlay{
  background-color:#f9f9f9;
}

.tree-nodes .node circle {
fill: #fff;
stroke: #202020;
stroke-width: 1.6px;
}

.tree-nodes .node text {
font-size:10px; 
font-family:sans-serif;
}

.tree-nodes text.expandText {
  font-size:20px;
}

.tree-nodes .link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

.tree-nodes .templink {
fill: none;
stroke: red;
stroke-width: 3px;
}

.tree-nodes .ghostCircle.show{
  display:block;
}

.tree-nodes .ghostCircle, .activeDrag .ghostCircle{
   display: none;
}

body > div.tree-nodes.tooltip {	
    position: absolute;			
    text-align: left;			
    min-width: 160px;
    max-width: 400px;
    height: auto;					
    padding: 8px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    word-wrap: break-word;
}